.btn-group.access-menu
  button.btn.btn-default.btn-sm.dropdown-toggle(type="button", data-toggle="dropdown") 
    span.selected None
    span &nbsp;
    span.caret &nbsp;
  ul.dropdown-menu(role="menu")
    li
      a(href="#", value="Admin") Admin
    li
      a(href="#", value="Manager") Manager
    li
      a(href="#", value="Member") Member
    li
      a(href="#", value="Guest") Guest